/* Estilos generales de TechShop */

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    width: 100%;
}

/* Contenido */
section {
    width: 100%;
}

/* Pie de página */
footer {
    width: 100%;
}

/* Navegación */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

/* Logo */
.logo {
    font-size: 30px;
    font-weight: bold;
}

/* Enlaces */
.nav-link {
    text-decoration: none;
}

/* Menú */
.nav-menu {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.nav-menu-item {
    font-size: 22px;
    margin: 0 10px;
}

.menu-item {
    padding: 5px;
    border-radius: 10px;
}